.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: calc(100vh - 100px);
}
.camera-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
}
