.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: calc(100vh - 200px);
  }

.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}